@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navbar {
  background: linear-gradient(rgb(165, 15, 15), rgba(0,0,0,0));

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 2.8rem;
  position: absolute;
  top: 0;
  position: fixed;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 15px;
}

nav ul a {
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  margin: 0 1rem;
}

section {
  height: 100vh;
  width: 100vw;
}

#home-page {
  background-color: black;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-position: bottom 45% right 10%;
  background-size: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

fieldset {
  width: 20rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 2rem;
}

fieldset legend {
  text-align: center;
}

.submit {
  padding: .75rem 2.5rem;
  background-color: rgb(165, 15, 15);
  font-size: 18px;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#submitBtn {
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: 22px;
}

.submit:active {
  transform: scale(0.98);
  opacity: 0.8;
}

#lifts {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lift-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  background-color: whitesmoke;
  margin: 10px 15px;
  border-radius: 10px;
}

.card h2 {
  margin: 0px;
}

.card p {
  margin: 2px;
}

.weight {
  width: 50px;
  height: 25px;
  margin-bottom: 5px;
  padding: 0;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;
}

.weight:active {
  border: none;
}

.card button {
  border: 1px solid black;
  border-radius: 2px;
  height: 25px;
  width: 175px;
}

.hidden {
  visibility: hidden;
}

.card button:active {
  transform: scale(0.98);
}

#failed {
  margin-bottom: 8px;
}

@media screen and (max-width: 425px) {
  #home-page {
    background-size: 100%;
    background-position: center;
    width: 100vw;
  }

  .card {
    width: 35%;
    height: 20%;
  }

  .card h2 {
    font-size: 16px;
  }

  .card p {
    margin: 0;
    font-size: 12px;
  }
}